* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    font-size: 62.5%;
    --white: #fff;
    --blue-opc:  #42D3FF21;
    --blue:  #42D3FF;
  
}
  
body {
    background-color: rgb(18, 18, 20);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
}
  
button {
    background: none;
    border: none;
  
    cursor: pointer;
}
  
.hide {
    display: none;
}
  
button svg {
    width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}
  
main {
    align-self: end;
    justify-self: center;
}
  
.timer {
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
    display: flex;
    margin-bottom: 1.6rem;
}
  
.controls {
    background-color: var(--blue-opc);
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(17rem, 10rem + 30vw, 22.8rem);
    height: clamp(8rem, 4rem + 10vw, 10.8rem);
    gap: 3.2rem;
    border-radius: 9999px;
}
  
footer {
    align-self: end;
    justify-self: end;
  
    padding: 0 4rem 3.2rem 0;
}